.box{
    background-color: red;
    border-radius: 10px;
    width:500px;
    height:500px;
    margin-left: 350px;
    margin-top:100px;
    color: white;
    align-items: center;
}
.box:hover{
    animation-name:rotate;
    animation-duration: 0.7s;
    animation-delay: 1s;
    animation-direction: reverse;
}
@keyframes rotate{
    0%{
        transform:rotate(0);
    }
    100%{
        transform:rotate(180deg);
    }
}
