body{
margin:0;
}

.middle{
display:flex;
flex:1;
}

nav{
background:red;
width:200px;
}

main{
background:green;
flex:1;
}

header,footer{
background:yellow;
text-align:center;
padding:20px;
}
.wrapper{
display:flex;
flex-direction:column;
height:100vh;
}