.navbar{
    background-color: blue;
    border-radius: 30px;
}
.navbar ul{
    overflow:auto;
}
.navbar li{
    float:left;
    list-style-type:none;
    margin: 13px 20px;
}
.navbar li a{
    padding:3px 3px;
    color:white;
    text-decoration:none;
}
.navbar li a:hover{
    color:red;
}
.search{
    float:right;
    margin: 12px 75px;
}
.navbar input{
    color: red;
    border:2px solid black;
    border-radius: 14px;
    padding: 3px 17px;
    width: 129px;
}