::first-letter{
    color: red;
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
}
::first-line{
    color: grey;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: large;
    font-weight: bold ;
}
p:nth-child(odd){
    background-color: plum;
    color: black;
}
p:nth-child(even){
    background-color: lightgreen;
    color: black;
}
p:nth-child(5){
    background-color: lightblue;
    color: black;
}