td,th{
    width:30px;
    height:30px;
    border:5px solid blue;
    text-align:center;
}
th{
    background-color: lime;
    border-color: blue;
    transition: 0.3s;
    cursor: pointer;
}
th:hover{
    background-color:palegreen;
    border-color:black;
    transform:scale(1.5);
}